@model IUBAlumniUSA.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinceState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinceState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
           @* @Html.DisplayFor(model => model.ProfilePicture)*@
                @if (Model.ProfilePicture != null)
                    {
                        <img id="profilePicture" style="width:300px;height:300px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                    }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUserId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>    
      &nbsp;<br />&nbsp;
</div>